/* Home.css */
.home-container {
  background-image: url("https://media.licdn.com/dms/image/C5112AQEYiP9jrHvU6g/article-cover_image-shrink_720_1280/0/1562825782180?e=1723680000&v=beta&t=vnnD3IclR5djGF_NM_IsiUW_GNDogmcLVSnjwSsZcvk");
  background-size: cover;
  opacity: 0; /* Initially hide the text */
  transition: opacity 1s ease-in-out; /* Smooth transition for opacity */
  }
  
  .fade-in {
    opacity: 1; /* Fade in the text */
  }
  